# Server Port Configuration
PORT=3001

# MongoDB Connection String URI
MONGO_URI=mongodb://127.0.0.1:27017/notesDB

# JSON Web Token Secret Cryptographic String
JWT_SECRET=your_jwt_secret_key_goes_here
